<div>
  <div class="bg-slate-50 text-green-800 px-2 py-1 rounded-lg drop-shadow-md text-center">
    <p class="text-lg text-slate-900"><%= store.name %></p>
  </div >
  <div class="flex justify-center">
    <div><%= image_tag("logos/marker-black.svg", class: "h-8 mr-3", alt: "icon") %></div>
  </div>
</div>
