<div class="info-window">
  <p class="font-semibold"><%= store.name %></p>
  <p><%= store.opening_times %></p>
  <p><%= store.description %></p>
  <p><%= store.address %></p>
  <!-- Add other store details as needed -->
</div>
