<div class="info-window bg-white p-3 rounded-lg shadow-lg">
  <p class="font-semibold text-green-800"><%= item.store.name %></p>
  <p class="text-green-800"><%= item.name %> <%= number_to_currency(item.price, unit: "€", precision: 2) %> - <%= item.stock_quantity %> left</p>
</div>
