<div class="bg-white rounded-lg p-3 shadow-lg">
    <p class="font-semibold"><%= item.name %></p>
    <%= number_to_currency(item.price, unit: "€", precision: 2) %>
</div>
<div class="flex items-center justify-center">
  <div><%= image_tag("logos/marker-black.svg", class: "h-8 mr-3", alt: "icon") %></div>
</div>
