<div class="bg-slate-50 text-green-800 px-3 py-1 rounded-lg drop-shadow-md text-center">
  <ul>
    <li class="font-semibold"><%= item.store.name %></li>
    <li><%= item.name %> - <%= item.price %>€</li>
  </ul>
</div>
